body {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.left-panel {
    z-index: 0;
}

.right-panel {
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    width: 10px;
}

.background-img > img {
    display: flex;
    width: 100vw;
    z-index: -1;
}

.background-img {
    max-height: 100vh;
    overflow: hidden;
}

.odin-logo > img {
    z-index: 1;
    height: 8em;
}

.odin-logo {
    display: flex;
    align-items: center;
}

.dark-background {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
    height: 10em;
    width: 25em;
    position: absolute;
    top: 10em;
    justify-content: center;
}

.odin-logo > p {
    font-size: 3em;
    color: white;
}

.right-panel > h2 {
    position: absolute;
    width: 35em;
    left: 20em;
}

form {
    position: absolute;
    width: 30em;
    left: 20em;
    top: 20em;
    font-size: 1.5em;
}

.containing {
    display: flex;
    position: relative;
}

form > button {
    background-color: #596D48;
    color: white;
}