body {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.left-panel {
    z-index:-1;
}

.right-panel {
    z-index: 1;
}

.background-img > img {
    display: flex;
    width: 100vw;
    z-index: -1;
}

.background-img {
    max-height: 100vh;
    overflow: hidden;
}

.odin-logo > img {
    z-index: 1;
    height: 8em;
}

.odin-logo {
    display: flex;
    align-items: center;
}

.dark-background {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
    height: 10em;
    width: 35em;
    position: absolute;
    top: 10em;
    justify-content: center;
}

.odin-logo > p {
    font-size: 100px;
    color: white;
}